<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <title>CashFlow Merchant Dashboard | Login</title>
  </head>
  <body>
    <div class="container">
	    <div class="row">
		    <div class="col-sm-12 col-md-4 offset-md-4">
			    <h1>Log in to CashFlow</h1>
			    <form v-on:submit.prevent="login" id="form" action="" method="POST">
				    <div class="form-group">
					    <label>Email or nickname:</label>
					    <input class="form-control" type="text" name="email" id="email" v-model="email">
				    </div>
				    <div class="form-group">
					    <label>Password:</label>
					    <input class="form-control" type="password" name="password" id="password" v-model="password">
				    </div>
              <p>Don't have a merchant account? <a href="/register">Become a merchant</a></p>
				      <button type="submit" class="btn btn-primary">Submit</button>
			    </form>
		    </div>
	    </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script type="text/javascript">
var form = new Vue({
	el: "#form",
	data: {
		email: null,
		password: null
	},
	methods: {
		login: function() {
			//make a request to login, get JWT or display error
			axios.post('/login',{
				email: this.email,
				password: this.password
			}).then(function(response) {
				if(response.data.token) {
					//set cookie with token
					Cookies.set('_token',response.data.token)
					Cookies.set('email',this.email.value)
					window.location.href="/dashboard"
				} else {
					alert(response.data.error)
				}
			}).catch(function(error) {
				console.log(error)
			})
		}
	}

})
    </script>
  </body>
</html>
