<%- include('top') %>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-1 mt-1">Something really amazing coming soon!</h1>
        </div>
    </div>
</div>
<%- include('bottom') %>