<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% if(message) { %>
    <h1><%= message %></h1>
    <%  } %>
    <form action="/users/register" method="POST">
    <input type="text" name="username" id="username" placeholder="Username"/>

    <input type="password" name="password" id="password" placeholder="Username"/>
    <input type="submit" value="Register"/>
    </form>
</body>
</html>